*{
    margin: 0;
    padding: 0;
    font-family: sans-serif, Helvetica;
}
nav{
    padding: 0.5rem 5%;
    background-color: #004b4b;
    display: flex;
    justify-content: space-between;
}
nav h1{
    font-size: 2.5rem;
    color: #fff;
}

.container{
    padding: 0 5%
}

.apod-title{
    text-align: center;
    margin: 1rem;
    font-size: 3rem;
}
.apod-img{
    height: 50vh;
    object-fit: cover;
    margin: auto;
    display: block;
    box-shadow: 3px 5px 30px -6px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 5px 30px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 5px 30px -6px rgba(0,0,0,0.75);
    border-radius: 10px;
}

.apod-description{
    padding: 1rem 10%;
    text-align: center;
}
.search{
    margin: 1rem auto;
    text-align: center;
    max-width: fit-content;
}
form{
    font-size: 0;
}
form input, 
form button{
    font-size: 1.8rem;
    margin: 0;
    padding: 0.5rem
}
form input{
    border: none;
    border-bottom: #004b4b solid 2px;
    background-color: #f1f1f1;
}
form input:focus{
    box-shadow: none;
    outline: none;
}
form input::placeholder{
    color: #d1d1d1;
}

form button{
    
    border: none;
    border-bottom: #004b4b solid 2px;
    background-color: #004b4b;
    padding: 0.5rem 1rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

form button:hover{
    background-color: #f1f1f1;
    color: #004b4b;
}

.err{
    text-align: start;
    height: 1.2rem;
    text-align: center;
}